<app-template-full-width [title]="title">
  @if(collection$ | async; as collection){
  <app-table-light [headers]="headers">
    @for(item of collection; track item.id) {
    <tr [attr.id]="'order-' + item.id">
      <td>
        <app-icon-edit [routerLink]="['/orders/edit', item.id]"></app-icon-edit>
        <app-icon-delete (click)="deleteOrder(item, $event)"></app-icon-delete>
      </td>
      <td>{{item.typePresta}}</td>
      <td>{{item.client}}</td>
      <td>{{item.nbJours}}</td>
      <td>{{item.tjmHt | currency}}</td>
      <td>{{item | total | currency}}</td>
      <td>{{item | total: true | currency}}</td> <!--car tva boolean-->
      <td [appState]="item.state">
        <select (change)="changeStatus(item, $event)">
          @for (state of status; track state) {
            <option
                  [selected]="state===item.state"
                  [value]="state"
            >{{state}}</option>
          }
        </select>
      </td>
    </tr>
    } @empty {
      <div>la liste est vide</div>
    }
  </app-table-light>
  }
  <app-btn label="Add order" route="add"></app-btn>
</app-template-full-width>
